.restaurant-page-container {
  background-color: rgb(237, 237, 244);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
  margin: 20px; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Add border radius for rounded corners */
  margin-top: 100px;
}

.reviews-list-container {
  background-color: rgb(237, 237, 244);
  margin: 20px; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.restaurant-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items horizontally and vertically */
  margin-top: 20px; /* Adjust the margin-top as needed */
}

.restaurant-image img {
  width: 100%;
  max-height: 300px;
}

.restaurant-info {
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}