.review-card {
    width: 90%; /* Set the width to 100% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(236, 229, 229);
  }
  
  .review-form-card {
    width: 90%; /* Set the width to 90% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #c2ceed; /* Light blue color */
    border-radius: 10px; /* Round the corners */
  }

  .centered-heading {
    text-align: center;
  }

  

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="number"] {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px; /* Set the height of the textarea as needed */
}